div.addExercise {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;

    button.addExercise {
        width: 200px;
        margin: 10px 0 10px 0;
    }
}

div div.ant-select-dropdown div div.ant-cascader-menus {
    @media (max-width: 767px) {
        flex-wrap: wrap;

        ul.ant-cascader-menu:last-child {
            border-top: 5px #f5f5f5 solid;

            li.ant-cascader-menu-item div.ant-cascader-menu-item-content {
                white-space: wrap;
            }
        }
    }
}