@use '../abstracts' as *;

td.tableCell {
    border: 1px solid $tableBorderColor;
    width: 80px;
    height: 37.1px;
    position: relative;
    font-family: 'Eskal';
    font-size: 24px;
    font-weight: bold;

    p.times {
        position: absolute;
        top: -4px;
        left: 6px;
        color: $timesFontColor;
    }

    p.weight {
        position: absolute;
        right: 6px;
        bottom: -12px;
    }

    div.diagonal {
        position: absolute;
        left: -5px;
        width: 87.6px;
        height: 1px;
        rotate: -26deg;
        background-color: $tableCellDiagonalColor;
    }

    div.void {
        width: 77px;
    }
}