@use '../abstracts' as *;

div.warmUpTable {
    margin-top: 8px;

    p.header {
        padding-top: 3px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 12pt;
    }

    table {
        border-collapse: collapse;

        thead tr th {
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12pt;
            font-style: italic;
            font-weight: normal;
        }

        tbody tr td {
            border: 1px solid $tableBorderColor;
            font-family: 'Eskal';
            font-size: 24px;
            font-weight: bold;
            color: $warmUpAttemptsAndTimes;
            text-align: center;
            height: 39px;

            &:first-child {
                width: 150px;
                font-weight: normal;
                color: $warmUpExerciseColor;
                text-align: left;
            }

            &.exercise {
                position: relative;
                cursor: help;

                &::before {
                    position: absolute;
                    border: 1px solid $tipBorderColor;
                    box-shadow: 5px 5px 5px $tipShadowColor;
                    top: -115px;
                    left: 190px;
                    background-color: $tipBackgroundColor;
                    z-index: 4;
                    width: 320px;
                    height: 320px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }

                &.warmUp.bodyTiltsToTheSides:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/bodyTiltsToTheSides.gif');
                }

                &.warmUp.bodyTurnsFromSideToSide:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/bodyTurnsFromSideToSide.gif');
                }

                &.warmUp.bodyTurnsToTheSides:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/bodyTurnsToTheSides.gif');
                }

                &.warmUp.breedingAndBringingHandsTogether:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/breedingAndBringingHandsTogether.gif');
                }

                &.warmUp.bringingYourHandsTogetherInFrontOfYou:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/bringingYourHandsTogetherInFrontOfYou.gif');
                }

                &.warmUp.circularHandRotations:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/circularHandRotations.gif');
                }

                &.warmUp.elbowRotationsForward:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/elbowRotationsForward.gif');
                }

                &.warmUp.flexionOfArmsAndFlexionOfHands:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/flexionOfArmsAndFlexionOfHands.gif');
                }

                &.warmUp.flexionOfTheArmsOnTheUpperBack:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/flexionOfTheArmsOnTheUpperBack.gif');
                }

                &.warmUp.hipLiftsAndHandRotations:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/hipLiftsAndHandRotations.gif');
                }

                &.warmUp.keepingYourElbowsInFrontOfYou:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/keepingYourElbowsInFrontOfYou.gif');
                }

                &.warmUp.millToStraightLegs:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/millToStraightLegs.gif');
                }

                &.warmUp.millWithoutExtensionOfTheBody:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/millWithoutExtensionOfTheBody.gif');
                }

                &.warmUp.semicircularHeadRotations:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/semicircularHeadRotations.gif');
                }

                &.warmUp.tiltingTheBodyWithTheHandToTheSides:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/tiltingTheBodyWithTheHandToTheSides.gif');
                }

                &.warmUp.ankleCircles:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/ankleCircles.gif');
                }

                &.warmUp.armAndKneeRaises:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/armAndKneeRaises.gif');
                }

                &.warmUp.armCircles:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/armCircles.gif');
                }

                &.warmUp.armCirclesWithButtKicks:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/armCirclesWithButtKicks.gif');
                }

                &.warmUp.backAndSpineArches:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/backAndSpineArches.gif');
                }

                &.warmUp.elbowAbductionForDeltsAndShoulders:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/elbowAbductionForDeltsAndShoulders.gif');
                }

                &.warmUp.elbowCircles:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/elbowCircles.gif');
                }

                &.warmUp.footPullsForQuadStretch:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/footPullsForQuadStretch.gif');
                }

                &.warmUp.headTilts:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/headTilts.gif');
                }

                &.warmUp.hipCircles:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/hipCircles.gif');
                }

                &.warmUp.kneeCircles:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/kneeCircles.gif');
                }

                &.warmUp.legCircles:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/legCircles.gif');
                }

                &.warmUp.legSwings:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/legSwings.gif');
                }

                &.warmUp.lungesLegWarmup:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/lungesLegWarmup.gif');
                }

                &.warmUp.shoulderCircles:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/shoulderCircles.gif');
                }

                &.warmUp.sideLungesLegWarmup:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/sideLungesLegWarmup.gif');
                }

                &.warmUp.squatBendForBackAndShoulders:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/squatBendForBackAndShoulders.gif');
                }

                &.warmUp.squatsWithArmRaises:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/squatsWithArmRaises.gif');
                }

                &.warmUp.toeTouchesForHamstrings:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/toeTouchesForHamstrings.gif');
                }

                &.warmUp.torsoTwistsForAbsAndObliques:hover::before {
                    content: '';
                    background-image: url('../../assets/images/warm-up/torsoTwistsForAbsAndObliques.gif');
                }
            }
        }
    }
}