$black: #000000;
$white: #ffffff;
$dodgerBlue: #1677FF;
$torchRed: #FF033E;
$internationalKleinBlue: #001EB5;

$defaultLinkColor: $white;
$activeLinkColor: $dodgerBlue;
$tableBorderColor: $black;
$timesFontColor: $torchRed;
$tableCellDiagonalColor: $black;
$exerciseNameColor: $internationalKleinBlue;
$workoutBackgroundColor: $white;
$cardioExerciseColor: $internationalKleinBlue;
$cardioTimeAndRhytmColor: $torchRed;
$warmUpExerciseColor: $internationalKleinBlue;
$warmUpAttemptsAndTimes: $torchRed;
$stretchingExerciseColor: $internationalKleinBlue;
$stretchingAttemptsAndTimes: $torchRed;