$black: #000000;
$white: #ffffff;
$dodgerBlue: #1677FF;
$torchRed: #FF033E;
$internationalKleinBlue: #001EB5;
$silver: #bfbfbf;
$alto: #d9d9d9;
$gray: #808080;
$wildSand: #f5f5f5;

$defaultLinkColor: $white;
$activeLinkColor: $dodgerBlue;
$tableBorderColor: $black;
$timesFontColor: $torchRed;
$tableCellDiagonalColor: $black;
$exerciseNameColor: $internationalKleinBlue;
$workoutBackgroundColor: $white;
$cardioExerciseColor: $internationalKleinBlue;
$cardioTimeAndRhytmColor: $torchRed;
$warmUpExerciseColor: $internationalKleinBlue;
$warmUpAttemptsAndTimes: $torchRed;
$stretchingExerciseColor: $internationalKleinBlue;
$stretchingAttemptsAndTimes: $torchRed;
$previewTextColor: $silver;
$previewBackgroundColor: $white;
$previewBorderColor: $alto;
$tipTextColor: $black;
$tipBorderColor: $black;
$tipBackgroundColor: $white;
$tipShadowColor: $gray;
$exerciseFormBorderColor: $alto;
$antCascaderMenuBorderColor: $wildSand;
$workoutShadowColor: $gray;